---
import Layout from '../layouts/Layout.astro';
import HomePage from '../components/home/index'
---

<Layout title="It's ryanwang">
	<main class="bg-black">
		<HomePage client:only="react" />
	</main>
	<!--<div-->
	<!--	class="cf-turnstile"-->
	<!--	data-sitekey="0x4AAAAAAAzqTi0fM50cU4B6"-->
	<!--	data-callback="javascriptCallback"-->
	<!--	data-size="flexible"-->
	<!--&gt;</div>-->
</Layout>
<script is:inline  src="https://source.binlin.wang/heti.min.js" defer></script>
<script  is:inline defer>
	try {
		const heti = new Heti('.heti');
		heti.autoSpacing(); // 自动进行中西文混排美化和标点挤压
	} catch (e) {
		//
	}
</script>
<!-- Google tag (gtag.js) -->
<script is:inline async src="https://source.binlin.wang/googleGA.min.js?id=G-XYK26MQFXT"></script>
<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	window.gtag = gtag;
	gtag('js', new Date());

	gtag('config', 'G-XYK26MQFXT');
</script>


<style>
	@font-face {
		font-family: "阿里妈妈灵动体 VF Thin";src: url("//at.alicdn.com/wf/webfont/yAgruuDib0Zh/kiG8ojkDGCWR.woff2") format("woff2"),
	url("//at.alicdn.com/wf/webfont/yAgruuDib0Zh/Bww7yQCS5XXn.woff") format("woff");
		font-display: swap;
	}
	main {
		max-width: 100vw;
		height: 100vh;
		overflow: hidden;
		overflow-y: auto;
		display: flex;
		justify-content: center;
		font-family: "阿里妈妈灵动体 VF Thin",serif;
	}
</style>
