---
import Layout from '../layouts/Layout.astro';
import HomePage from '../components/home/index'
import '../styles/home.css';
---

<Layout title="Ryan · 不换">
	<main class="agent-gradient-bg">
		<HomePage client:only="react" />
	</main>
</Layout>
<script is:inline  src="https://source.binlin.wang/heti.min.js" defer></script>
<script  is:inline defer>
	try {
		const heti = new Heti('.heti');
		heti.autoSpacing(); // 自动进行中西文混排美化和标点挤压
	} catch (e) {
		//
	}
</script>
<!-- Google tag (gtag.js) -->
<script is:inline async src="https://source.binlin.wang/googleGA.min.js?id=G-XYK26MQFXT"></script>
<script is:inline>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	window.gtag = gtag;
	gtag('js', new Date());

	gtag('config', 'G-XYK26MQFXT');
</script>
